@model IEnumerable<VideoClub.Areas.MovieRents.Data.MovieRentViewModel>


@{
    ViewBag.Title = "ActiveBookings";
}

<h2>Active Bookings</h2>
<p>Here you can view all the active bookings of the video club</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.CopyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { copyID = item.CopyID })
            </td>
        </tr>
    }
</table>

@*@Html.ActionLink("Back to admin page", "Index", "Admin", new { area = "" })*@
<a href="@Url.Action("Index", "Admin", new { area = ""})">Back to admin page</a>



