@model PagedList.IPagedList<VideoClub.Core.Entities.Movie>
@using PagedList.Mvc;

    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

@*@using (Html.BeginForm("IndexUser", "Movie", FormMethod.Get))*@
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <p>
        Search by title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "IndexUser", new { CurrentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Description", "IndexUser", new { CurrentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Genre", "IndexUser", new { SortOrder = ViewBag.GenreSortParm, CurrentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Available copies", "IndexUser", new { currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopiesAvailable)
            </td>
        </tr>
    }
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("IndexUser", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))