@model  List<VideoClub.Core.Entities.ApplicationUser>
@*@model List<string>*@
@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.FirstName  @user.LastName
            </td>
            <td>
                @Html.ActionLink("Booking History", "BookingHistory", new { UserName = user.UserName }, new { style = "margin-right: 50px;" })
                @Html.ActionLink("Book a movie", "CustomersFormView", new { UserName = user.UserName })
            </td>
        </tr>
    }
</table>

<a href="@Url.Action("Index", "Admin", new { area = ""})">Back to admin page</a>

